
/*-start---------------------logo --------------------*/
.display-none{
    display: none;
}
/*-end---------------------logo --------------------*/

/*-start---------------------logo animate --------------------*/
.correct-png-animate{
    /*display: block;*/
    border-style: none;
    width: 340px;
    height: 110px;

}
.correct-png-animate--ng{
    position: relative;
    display: block;
    border-style: none;
    width: 347px;
    height: 110px;
    top: -30px;
    z-index: 1;

}
.tom-animate{
    /*display: none;*/
    position: absolute;
    left: 600px;
    top: -20px;
}

._8_marta{
    /*display: inline-table;*/
    position: absolute;
    left: 380px;
    top: -20px;
    width: 495px;
    height: 100px;
    display: none;
}
.tom-animate:hover{
    /*left: 400px;*/
    /*top: -20px;*/
    /*-moz-transition: all 5s ease-out;*/
    /*-o-transition: all 5s ease-out;*/
    /*-webkit-transition: all 5s ease-out;*/
    /*transform: scale(-1, 1);*/
}
.smilie {
    width: 140px;
    height: 134px;
    position: absolute;
    left: 110px;
    top: -19px;
    z-index: 2;
}
.smilie::before, .smilie::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 30px;
    border-radius: 50%;
    background: #000;
    top: 40px;
    animation: eye 5s ease-in-out infinite;
    -webkit-animation: eye 5s ease-in-out infinite;
}
.smilie::before { left: 55px; }
.smilie::after { right: 55px; }
@keyframes eye {
    90% { transform: none; }
    95% { transform: scaleY(0.1); }
}
@-webkit-keyframes eye {
    90% { transform: none; }
    95% { transform: scaleY(0.1); }
}
/*-end---------------------logo animate --------------------*/