
/*-start---------------------logo --------------------*/
.display-none{
    display: none;
}
/*-end---------------------logo --------------------*/

/*-start---------------------logo animate --------------------*/
.correct-png-animate{
    display: block;
    border-style: none;
    width: 740px;
    height: 110px;

}
.smilie {
    width: 140px;
    height: 134px;
    position: absolute;
    left: 122px;
    top: -19px;
}
.smilie::before, .smilie::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 30px;
    border-radius: 50%;
    background: #000;
    top: 40px;
    animation: eye 5s ease-in-out infinite;
    -webkit-animation: eye 5s ease-in-out infinite;
}
.smilie::before { left: 55px; }
.smilie::after { right: 55px; }
@keyframes eye {
    90% { transform: none; }
    95% { transform: scaleY(0.1); }
}
@-webkit-keyframes eye {
    90% { transform: none; }
    95% { transform: scaleY(0.1); }
}
/*-end---------------------logo animate --------------------*/